<!DOCTYPE html>
<html>
    <head>
        <title>Agent-Based Model</title>
        <!--Early loading of assets-->
        <script type="text/javascript" src="static/lib/d3.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    </head>
    <body onclick="toggleSimStep()">

        <div id="title"><h3>Agent-Based Model</h3></div>
        <div>Click anywhere to start/pause</div>

        <div id="container">

            <!--Playing field of simulation-->
            <div id="main-simulation">
                <svg id="surface" style="width:100%; height:80vh; border: 2px solid #d3d3d3" xmlns="http://www.w3.org/2000/svg" version="1.1" ></svg>
            </div>

            <!-- Grey Sidebar -->
            <div id="sidebar">
                <div id="speed-section">
                    <h3>Animation Speed</h3>
                    <input id="slider1" type="range" min="0" value="275" max="1000" step="10" onchange="updateSpeedOnly()" /> 
                </div>

                <h2>Vessel Bellina :</h2>
                <h4>Volume of LNG: <span id="bellina-volume">7000</span> m³ </h4>
                <h4>Current cycle</h4>
                <p id="bellina-day">Day: 1</p>
                <p id="bellina-time">Current time: 0:00 h </p>
                <h4>Number of Ships serviced on cycle ?</h4>
                <p id="bellina-container-count">Container vessel: 0</p>
                <p id="bellina-bulkcarrier-count">Bulk Carrier: 0</p>
                <p id="bellina-carcarrier-count">Car Carrier: 0</p>
                <p id="bellina-oiltanker-count">Oil tanker: 0</p>

                <br>
                <hr>

                <h2>Vessel Venosa :</h2>
                <h4>Volume of LNG: <span id="venosa-volume">16800</span> m³</h4>
                <h4>Current cycle</h4>
                <p id="venosa-day">Day: 1</p>
                <p id="venosa-time">Current time: 0:00 h </p>
                <h4>Number of Ships serviced on cycle ?</h4>
                <p id="venosa-container-count">Container vessel: 0</p>
                <p id="venosa-bulkcarrier-count">Bulk Carrier: 0</p>
                <p id="venosa-carcarrier-count">Car Carrier: 0</p>
                <p id="venosa-oiltanker-count">Oil tanker: 0</p>

            </div>
                
        </div>
	    <!--Late-loading library-->
	    <script type="text/javascript" src="static/lib/AgentModel.js"></script>
    </body>
</html>